{% assign gear = product.selected_or_first_available_variant.metafields.custom.gear.value %}

{% for gear_item in gear %}
  {% assign gear_length = forloop.length %}
{% endfor %}

{% if gear and gear != blank %}
  <div class="color-{{ section.settings.color_scheme }} gradient no-js-hidden">
    <div class="spare-parts-items page-width section-{{ section.id }}-padding isolate scroll-trigger animate--slide-in product-recommendations--loaded">
        <h2 class="spare-parts-items__heading inline-richtext {{ section.settings.heading_size }}">
          {{ section.settings.gear_heading }}
        </h2>
        <slider-component class="slider-gutter scroll-trigger animate--slide-in">
          <ul class="grid product-grid contains-card contains-card--product contains-card--standard grid--4-col-desktop grid--2-col-tablet-down slider slider--tablet {% if gear_length > 4 %} grid--3-col-desktop slider--desktop pdp-product-slider {% else %}grid--4-col-desktop{% endif %}" role="list" id="Slider-{{ section.id }}">
            {% for gear_item in gear %}
              <li class="grid__item slider__slide" id="Slide-{{ section.id }}-{{ forloop.index }}">
                {% render 'card-product',
                  card_product: gear_item,
                  media_aspect_ratio: section.settings.image_ratio,
                  show_secondary_image: section.settings.show_secondary_image,
                  show_vendor: section.settings.show_vendor,
                  show_rating: section.settings.show_rating
                %}
              </li>
            {% endfor %}
          </ul>
          {% if gear_length > 4 %}
            <div class="slider-buttons no-js-hidden">
              <button
                type="button"
                class="slider-button slider-button--prev"
                name="previous"
                aria-label="{{ 'general.slider.previous_slide' | t }}"
                aria-controls="Slider-{{ section.id }}"
              >
                {% render 'icon-caret' %}
              </button>

              <div class="slider-counter caption">
                <span class="slider-counter--current">1</span>
                <span aria-hidden="true"> / </span>
                <span>{{ gear_length }}</span>
              </div>

              <button
                type="button"
                class="slider-button slider-button--next"
                name="next"
                aria-label="{{ 'general.slider.next_slide' | t }}"
                aria-controls="Slider-{{ section.id }}"
              >
                {% render 'icon-caret' %}
              </button>
            </div>
          {% endif %}
        </slider-component>
    </div>
  </div>
{% endif %}

{% style %}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{% endstyle %}

{% schema %}
{
  "name": "Gear",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "paragraph",
      "content": "Gear (outfit)"
    },
    {
      "type": "inline_richtext",
      "id": "gear_heading",
      "default": "Gear",
      "label": "Heading"
    },
    {
      "type": "select",
      "id": "heading_size",
      "options": [
        {
          "value": "h2",
          "label": "H2"
        },
        {
          "value": "h1",
          "label": "H1"
        },
        {
          "value": "h0",
          "label": "H0"
        }
      ],
      "default": "h1",
      "label": "Heading Size"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "Color Scheme",
      "info": "Color scheme for the section",
      "default": "scheme-1"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Padding Top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Padding Bottom",
      "default": 36
    }
  ],
  "presets": [
    {
      "name": "Gear",
      "category": "Product"
    }
  ]
}
{% endschema %}